.container {
  font-family: 'Inter';
  font-style: normal;
  max-width: 550px;
  min-height: 550px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F7FB;
  border: 1px solid #4D5B9E;
  border-radius: 10px;
}

.button {
  background-color: #4D5B9E;
  border-radius: 10px;
  padding: 11px 22px;
  margin: 20px 0;
  color: white;
  border: none;
  cursor: pointer;
}

.button--reset {
  margin-right: 10px;
}

.button--startgame {
  font-weight: 700;
  margin-top: 5vh;
}

.question-container {
  width: 80%;
  padding: 14px 0;
  border-bottom: 0.794239px solid #DBDEF0;
}

.answers-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.answer {
  background-color: white;
  border-radius: 8px;
  border: 0.8px solid #4D5B9E;
  min-width: 65px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 11.24px;
  line-height: 12px;
  color: #293264;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
}

.selected-answer {
  background-color: #D6DBF5;
  border: none;
}

.selected-wrong-answer {
  background-color: #F8BCBC;
}

.transparent-answer {
  opacity: 0.5;
}

.correct-answer {
  background-color: #94D7A2;;
}

h2 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
}

.start-quizz {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
}

.start-quizz h1 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  color: #293264;
}

.finished-game {
  display: flex;
  align-items: center;
  gap: 10px;
}

.answered-correctly {
  text-align: center;
  margin-left: 5px;
}

select {
  border-radius: 10px;
  margin: 30px 2px 20px 2px;
  font-family: 'Inter';
  font-style: normal;
  color: #293264;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  min-width: 20px;
  border: none;
  background-color: #F5F7FB;
  padding: 0;
}

.select--difficulty {
  padding: 0 40px;
}

@media screen and (max-width: 500px) {
  .question-container {
    width: 95%;
  }

  select {
    margin: 15px 2px 0px 2px;
  }

  .select--difficulty {
    padding: 0 27px;
  }

  .container {
    border: none;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
  }

}
